$('.message').append("<h6><p style='text-align: left;'><%= @chat.message %></p></h>");
<%#$('.message-table').html("<%= escape_javascript(render 'chats/chat_table', chat.message: @chat.message) %><%#");#%>
$('input[type=text]').val("")