// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// sign upページのcss
.field{
  margin-bottom: 10px;
}

.actions{
  margin-bottom: 10px;
}

.btn .btn-sm .btn-success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  padding: 4px 8px;
}